<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permiso para acceder a internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

        <activity
            android:name=".ChatActivity"
            android:exported="false" /> <!-- Todas las actividades con screenOrientation="portrait" -->
        <activity
            android:name=".MisDatosActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetalleProductoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Agregar2Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FiltroActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PerfilActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BuzonActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LikeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AgregarActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditarProductoActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".PerfilPublicoActivity"></activity>

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".TruequiBotActivity" />

        <activity android:name=".PreferencesActivity" />

    </application>

</manifest>
